.popup__form {
  max-width: 430px;
  height: 330px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 37px;
  position: relative;
}

@media (max-width: 767px) {
  .popup__form {
    height: 322px;
    max-width: 282px;
    padding: 25px 22px;
  }
}

/* Сергей, добрый день! Во-первых. Спасибо за Ваши комментарии по существу в первые две итерации по JS.
В то же время не согласен с некоторыми Вашими замечаниями по верстке, которые, к сожалению, нельзя отнести к разряду "критических":
1) жесткое ограничение размера формы - при появлении текста об ошибке внутреннее содержание всей формы точно увеличится и произойдет overflow нижней кнопки;
2) Ваш отклонение работы от проверки в 4-й итерации - поле ввода, где появляется ошибка, больше никуда не сдвигается. Или Вы имели в виду, что двигается другое поле для ввода при появлении ошибки в первом? Если да, то так и пишите.
В любом случае я не согласен с "критическим" характером ошибок. Я действовал строго в соответствии с макетом Figma по ПР6.
О возникшем недопонимании между нами я направил обращение в команду Яндекс.Практикум. С Вами свяжутся.

Всего доброго и хорошего дня! */
